* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.color-navbar {
    background-color: #EDD7E7 !important;
    width: 100%;
}

.titulo-neon {

    text-align: center;
    color: #fff;
    margin-top: -1%;
    text-shadow:
        0 0 5px rgba(240, 120, 200),
        0 0 10px  #FF00FF,
        0 0 20px  #FF00FF,
        0 0 40px rgba(179, 62, 140),
        0 0 80px rgba(179, 62, 140),
        0 0 90px rgba(179, 62, 140),
        0 0 100px  #FF00FF,
        0 0 140px rgba(179, 62, 140),
        0 0 180px  #FF00FF;

    /* border: 50px solid #4A3143;
    background-color: #4A3143; */
    width: 100%;
    height: 250px;

    font-family: 'Poiret One', cursive;
    letter-spacing: 15px;
    position: absolute;
    top: 73px;
}

.titulo-continuacion {

    text-align: center;
    color: #EDD7E7;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    transform: rotate(-20deg);
    position: absolute;
    top: 181px;
    left: 870px;
}

.short-tt {
    font-size: 130px;
}

.long-tt {
    font-size: 90px;
}

.fondo-titulo{
    width: 100%;
    height: 300px;
}

.wp-follow{
    width: 55px;
    height: 55px;
    position: fixed;
    left: 1310px;
    top: 600px;
}

.text-first,
.text-end {
    font-family: 'Poiret One', cursive;
    padding: 60px;
    text-align: center;
    letter-spacing: 10px;
    font-size: 30px;
}

.img-inicio {
    border-radius: 50%;
    width: 350px;
    height: 350px;
   
}

.img-inicio:hover{
    filter:blur(5px);
}


.fondo-text {
    width: 400px;
    height: 400px;
}

.Imagen-redsocial {
    width: 50px;
    height: 50px;
}

.align-bannerfinal{
    margin: 25px auto;
    
}

.line-neon-banner-small{
    width: 500px;
    height: 5px;
    background-color:white;
    border-color: #00FFF3;
    border-width: 1px;
    border-style: solid;
    /* border: 10px;  */
    box-shadow: 0 0 10px #00FFF3, 0 0 20px #00FFF3, 0 0 40px #00FFF3;
    box-sizing: content-box;
    border: 5px solid #00FFF3;
    border-radius: 20px 20px 20px 20px;
    margin: 12px auto ;
}

.line-neon-banner{
    height: 7px;
    background-color:white;
    border-color: #FF00FF;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 0 10px #FF00FF, 0 0 20px  #FF00FF, 0 0 40px  #FF00FF;
    border-radius: 20px 20px 20px 20px;
    box-sizing: content-box;    
    border: 2px solid   #FF00FF;
}

.text-bannerFinal {
    font-family: 'Cinzel', serif;
    font-size: 19px;
}

 .logofinal{
    border-radius: 50%;
    width: 150px;
    height: 150px;
} 

.finalFoot{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.font-final{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
/*Fin Inicio*/
/*Productos*/

.color-table {
    background-color: #EDD7E7;
}

/*Fin productos*/
/*Realiza tu pedido*/

.segundo-titulo-page{
    width: 100%;
    background-color: #EDD7E7;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-top:10px;
    text-align: center;

}

.formEstilo{
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 20px; 
    margin: 10px auto;   

}

.form-pedido, .form-contacto{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;    
}
/*Fin pedidos*/

/*Inicio tratamientos*/

.text-style-tratamientos {
    font-family: 'Poiret One', cursive;
    font-size: 28px;   
    width: 500px;
    height: 600px;
    text-align: start;
    
}
/*Depilacion*/
.tratamientos-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px auto;    
}

.img-depilacion1{

    width: 380px;
    height: 500px;
} 

/*Criolipolisis*/
.img-crio1{
    width: 400px;
    height: 560px;
}
.img-crio2{
    height: 560px;
    width: 400px;
}
/*Alisados*/
.img-alisado1{
    width: 400px;
    height: 300px;
    align-items: center;
    margin: 10px auto;
}



.align-text-alisados, .img-alisado3, .img-alisado2{
    margin: 50px auto;
} 


/*Turno*/
.form-box{
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.btn-Formato-special{
    background-color: #00FFF3;
    margin: 30px auto;
    text-align: center;
    color: black;
    font-weight: bold;
    transition: 0.2s;
}

.btn-Formato-special:hover {
    background-color: #00FFF3;
    box-shadow: 0 0 10px #00FFF3, 0 0 20px #00FFF3, 0 0 40px #00FFF3;
}

/*Pregutas frecuentes*/

.text-preguntasFrecuentes{
    font-family: 'Poiret One', cursive;
    font-size: 28px;  
}

/*Fin tratamientos*/
/*Nosotras*/

.text-nosotras, .text-nosotras-antes-despues{
    letter-spacing: 2px;
    text-align: left;
    /* line-break: anywhere; */
}
.text-nosotras-antes-despues{
    text-align: center;
}

.line-neon, .line-neon-last{  
    height: 5px;
    background-color:white;
    border-color: #00FFF3;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 0 10px #00FFF3, 0 0 20px #00FFF3, 0 0 40px #00FFF3;
    border-radius: 20px 20px 20px 20px;
}

.image-nosotras{  
    width: 300px;
    height: 400px;       
}

.img-flip:hover{
    transform: scale(1.2);
}

.image-nosotras2{
    height: 300px;
    width: 300px;
}

.line-neon-last{
    margin: 50px auto;
}

/*Fin nosotras*/
/*Contactanos*/
.form-contacto{
    margin: 50px auto;
}

.btn-margin{
    margin: 5px auto;
}

.form-contacto-cajas{
    display: flex;
    justify-content: center;   
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: bold;
}

.text-area{
    font-weight: bold;
    margin: 20px auto;    
}
/*Fin contactanos */

/*Mobile*/
@media only screen and (max-width: 400px){
 
    .titulo-neon{
        text-align: center;
        align-items: center;
        font-size:36px;    
    }

    .titulo-continuacion{
        position: absolute;
        top: 138px;
        left: 200px;
        font-size: 40px;
    }

    .wp-follow{
        display:none;
    }
    
    .text-first, .text-end, .text-style-tratamientos{
        font-size: 22px;
        text-align: center;
        padding: 10px;        
    }

    .fondo-text, .img-inicio{
        width: 120px;
        height: 120px;
    }
       
    body, .img-alisado1, .img-bolsa, .img-depilacion1, .img-crio1, .img-crio2{
        width: 100%;        
    }
    
  .fondo-text, .img-inicio{
        width: 120px;
        height: 120px;
    }

    
    .short-tt{
        width: 100%;
    }

    .text-bannerFinal{       
        font-size: 15px;
    }

    .align-bannerfinal{
        margin: 15px auto;
        
    }

    .logofinal{
        width: 40%;        
    }

    .bannerFinal{
        height: 457px;
    }

   
    .font-final{
        font-size: 10px;
    }

    .img-depilacion2{
        display:none;
    }

    .align-text-alisados{
        margin: 1px auto;
    }

    .img-alisado1{
        width: 100%;
    }

    .text-preguntasFrecuentes{
        font-size: 20px;
    }


}
/*Fin mobile*/

/*tablet*/
@media only screen and (min-width: 401px) and (max-width:960px){

    .titulo-neon{
        text-align: center;
        position: none;
        font-size: 36px;
    }

    .titulo-continuacion{
        position: absolute;
        top: 138px;
        left: 200px;
        font-size: 40px;
    }

    .wp-follow{
        display:none;
    }  
 
    .text-first, .text-end, .text-style-tratamientos{
        font-size:22px;
        text-align: center;
        padding:10px;        
    }

    body, .img-alisado1, .img-bolsa, .img-depilacion1, .img-crio1, .img-crio2{
        width: 100%;        
    }
    
    .fondo-text, .img-inicio{
        width: 120px;
        height: 120px;
    }
    .text-bannerFinal{
        font-size: 15px;
    } 

    .bannerFinal{
        height: 380px;
    }   

    .align-bannerfinal{
        margin: 15px auto;        
    }
    
    .logofinal{
        width: 40%;        
    }

    .font-final{
        font-size: 10px;
    }

    .img-depilacion2{
        display:none;
    }

    
    .text-preguntasFrecuentes{
        font-size: 20px;
    }

    

}
/*Fin tablet*/
